*{
    border: 0;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
@media screen and (max-width:598px) {
    html{
      font-size: 45%;
    }
}
/* Input Styles */
input[type="text"]{
  width: 17rem;
  height: 2rem;
  padding: 1rem;
  margin: 0.5rem 0;
  border: 0.1rem solid #ccc;
  border-radius: 0.5rem;
  box-sizing: border-box;
  font-size: 1.2rem; /* 16px */
}

/* Button Styles */
button {
  background-color: #4CAF50;
  color: white;
  padding: 1.2rem 2rem;
  margin: 1rem 0;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1.2rem; /* 16px */
  transition: background-color 0.3s ease;
}

button:hover{
  background-color: #45a049;
}